!default_margin = 0
!default_padding = 0

div.auto_complete
  width: 350px
  background: #fff

  ul
    border: 1px solid #888
    margin = !default_margin
    padding = !default_padding
    width: 100%
    list-style-type: none

    li
      margin = !default_margin
      padding: 3px

    li.selected
      background-color: #ffb

    strong.highlight
      color: #800
      margin = !default_margin
      padding = !default_padding