<div id="main-box">
  <div id="quote">Foos Your Daddy?</div>
</div>

<div id="content">
  <h2>Plus-Minus Rankings</h2>
  
  <ol>
    <% @players.each do |player| %>
    <li><%= link_to player.name, player %> : <%= PlayersHelper.colored_plus_minus player.plus_minus %></li>
    <% end %>
  </ol>

<%= link_to 'New player', new_player_path %>

</div>