#main-box
  #quote Player Info

#content
  %p
    %strong Name:
    = @player.name

  %p
    %strong Plus-Minus:
    = PlayersHelper.colored_plus_minus @player.plus_minus

  %h3 Bagel Participation
  = render :partial => 'shared/bagel_table'

  %br
  = link_to 'Back', root_path