$maximum-width: 960px;

nav {
  margin-top: 1.5em;
}

@media (min-width: 1200px) {
  .container {
    max-width: $maximum-width;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    max-width: $maximum-width;
  }
}
