$maximum-width: 960px;
$emerland: #2ECC71;
$wet-asphalt: #34495E;

body {
  background-image: url(/assets/bright_squares_@2X.png);
}

.sign-in-bg {
  background-image: none;
}

.container {
  background-color: #fff;
  padding: 20px 20px 20px 20px;
}

// Fixes pull-right active-tab bugs from flat-ui
.navbar-inverse .nav.pull-right {
  li.active.last a {
    border-radius: 0 6px 6px 0;
  }
  li.active a {
    border-radius: 0 0 0 0;
  }
}

// Fixes active-tab bugs from flat-ui
.navbar-inverse .nav {
  li.active {
    &:first-child a {
      &:hover {
        padding-left: 20px;
      }
    }
    a {
      border-bottom-color: $emerland;
      &:hover {
        border-bottom-color: $emerland;
      }
      &:focus {
        border-bottom-color: $emerland;
      }
    }
  }
}

.thumbnail {
  * {
    text-align:center;
  }
}

#quick-stats {
  .thumbnail {
    * {
      color: #FFF;
    }
  }
}

#players {
  .thumbnails {
    a {
      color: #fff;
      text-decoration: none;
      transition-duration: 0.05s;

      &:hover {
        color: $emerland;
      }
    }
  }
}

.error-text {
  color: #e74c3c;
}

.alert {
  p {
    margin: 0 0 0 0;
  }
}

.alert-success {
  background-color: $emerland;
  color: #fff;
}

.positive {
  color: $emerland;
}

.negative {
  color: #e74c3c;
}

nav {
  margin-top: 1.5em;
}

a.brand {
  &:link {
    text-decoration: none;
  }
}

footer {
  margin-top: 1.5em;
  padding: 10px 15px 1px 15px;
  border-radius: 6px 6px 6px 6px;
}

@media screen {
  .login-form {
    margin: 100px auto;
    max-width: 208px;

    &:before {
      border-style: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: $maximum-width;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    max-width: $maximum-width;
  }
}

@media (max-width: 480px) {
  #players {
    .thumbnails {
      img {
        display: none;
      }
    }
  }
}
